.farmer {
  &.start-up {
    .farmer-news {
      &-blog {
        .content {
          &-post {
            width: 100%;
            .content-post-slogan {
              margin: 20px;
              padding: 10px;
              border-left: 4px solid #e5be95;
              background: #f9f9f9;
              quotes: "“" "”" "‘" "’";
              display: flex;
              align-items: center;
              &::before {
                color: #ccc;
                content: open-quote;
                font-size: 4em;
                line-height: 0.1em;
                margin-right: 0.25em;
                vertical-align: -0.4em;
              }
              .text {
                margin: 0;
                font-weight: 600;
                &-sub {
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}